[submodule "repos/kspaceFirstOrder-openmp-linux"]
	path = repos/kspaceFirstOrder-openmp-linux
	url = https://github.com/waltsims/kspaceFirstOrder-OMP-linux
	branch = main
	shallow = true

[submodule "repos/kspaceFirstOrder-openmp-windows"]
	path = repos/kspaceFirstOrder-openmp-windows
	url = https://github.com/waltsims/kspaceFirstOrder-OMP-windows.git
	branch = main
	shallow = true
[submodule "repos/kspaceFirstOrder-openmp-darwin"]
	path = repos/kspaceFirstOrder-openmp-darwin
	url = https://github.com/waltsims/k-wave-omp-darwin.git
	branch = main
	shallow = true
[submodule "repos/kspaceFirstOrder-cuda-linux"]
	path = repos/kspaceFirstOrder-cuda-linux
	url = https://github.com/waltsims/kspaceFirstOrder-CUDA-linux
	branch = cuda-12-support
[submodule "repos/kspaceFirstOrder-cuda-windows"]
	path = repos/kspaceFirstOrder-cuda-windows
	url = https://github.com/waltsims/kspaceFirstOrder-CUDA-windows.git
	branch = cuda-12-support
